body {
    background: #010014;
    max-width: 589px;
    margin: 0 auto;
    color: white;
    text-align: center;
    font-family: "Jost", sans-serif;
  }
  
  .visited:visited {
    color: #05d8e8;
  }
  
  a,
  a:visited {
    color: white;
    text-decoration: none;
  }
  
  h1 {
    font-weight: 800;
    font-size: 24px;
    margin-bottom: 1px;
  }
  
  .p1 {
    font-size: 16px;
    color: white;
    opacity: 50%;
    margin-top: 2px;
    font-weight: 500;
  }
  
  .block {
    display: flex;
    justify-content: space-around;
  }
  
  .harvest {
    background: #161325;
    width: 293px;
    border-radius: 12px;
    margin-right: 4px;
  }
  
  .borrowed {
    background: #161325;
    width: 293px;
    border-radius: 12px;
    margin-left: 4px;
  }
  
  .span {
    display: block;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 800;
  }
  
  .span1 {
    font-size: 16px;
  }
  
  .main {
    background-color: #272637;
    margin-top: 10px;
    border-radius: 12px;
    padding-bottom: 10px;
    padding-bottom: 1px;
    margin-bottom: 30px;
  }
  
  .menu {
    display: flex;
    justify-content: space-around;
    text-align: left;
    opacity: 50%;
    font-size: 16px;
    padding-top: 15px;
    font-weight: 800;
  }
  
  .span2 {
    color: #05d8e8;
    opacity: 100%;
  }
  